{% extends "blogbase.html" %}

{% block title %}{{ blog.title }}{% endblock %}


{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}">
    <div class="row" style="margin-top: 20px;">
        <div class="col"></div>
        <div class="col-11" style="background-color: #fff;padding: 20px;">
            <h3 class="page-title">{{ blog.title }}</h3>
            <p class="question-info">

                <span>作者:{{ blog.author.username }}</span>
                <span>     发布时间：{{ blog.create_time }}</span>
            </p>
            <hr>
            <p class="question-content">{{ blog.content|markdown|safe }}</p>
            <hr>

            {#            <h4 class="comment-group-title">评论（{{ question.answers|length }}）：</h4>#}
            {#            <form action="{{ url_for('qa.answer',question_id=question.id) }}" method="post">#}
            {#                <div class="form-group">#}
            {#                    <input type="text" placeholder="发表一条友善的答复吧~" name="content" class="form-control">#}
            {#                </div>#}
            {#               #}
            {#                <div class="form-group" style="text-align: right;">#}
            {#                    <button class="btn btn-primary">评论</button>#}
            {#                </div>#}
            </form>
            {#            <ul class="comment-group">#}
            {#                {% for answer in question.answers %}#}
            {#                    <li>#}
            {#                        <div class="user-info">#}
            {#                            <img class="avatar" src="{{ url_for('static',filename='images/avatar.png') }}" alt="">#}
            {#                            <span class="username">{{ answer.author.nickname }}</span>#}
            {#                            <span class="create-time">{{ answer.create_time }}</span>#}
            {#                        </div>#}
            {#                        <p class="comment-content">{{ answer.content }}</p>#}
            {#                        <div align="right">#}
            {#                            <button type="button" class="btn btn-primary btn-sm">#}
            {#                                <i class="fas fa-thumbs-up"></i>{{ answer.likes }}</button>#}
            {#                        </div>#}
            {#                    </li>#}
            {#                {% endfor %}#}
            {#            </ul>#}
            <div class="btn-group btn-action-label" role="group" aria-label="Like">
                <span type="button" class="btn btn-sm btn-secondary btn-action">
                    <i class="fas fa-thumbs-up"></i>
                    <span>赞同</span>
                </span>
                <a tag="0" href="#" class="btn btn-sm btn-outline-secondary btn-label">{{ blog.likes }}</a>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            $('.btn-action').click(function () {
                let $this = $(this);
                let tag = $this.next('a').attr('tag');
                $.get('{{ url_for('blog.blog_like') }}', {bid:{{blog.id}}}, function (data) {
                    $this.next('a').text(data.num);
                    $this.css({'color':'red'});
                })
            });
        })
    </script>
{% endblock %}