<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文档</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/blog_detail.css">
</head>
<body>
    <!-- 导航栏 -->
    <div class="nav">
        <img src="../static/images/1.png" alt=""> <!-- 导航页面底部图像 -->
        <span>USTC Flask博客系统</span>
        <!-- 空白元素 实现占位 -->
{#        <div class="spacer"></div>#}
{#        <a href="homepage.html">主页</a>#}
{#        <a href="writeblog.html">写博客</a>#}
{#        <a href="#">注销</a>#}
    </div>
    <!-- 这里的.container作为页面的版心 -->
    <div class="container">
        <!-- 左侧个人信息 -->
        <div class="left">
            <!-- 表示整个用户的信息区域 -->
            <div class="card">
                <img src="../static/images/t-1.png" alt=""><!--用户头像 -->
                <h3>ustcflask</h3>
                <a class="text-primary" href={{ url_for('qa.index') }}>博客首页</a>
                <div class="counter">
                </div>
            </div>
        </div>
        <!-- 右侧内容详情 -->
        <div class="right">
        <!-- 使用这个 div 来包裹整个博客的内容详情 -->
        <div class="blog-content">
            <!-- 博客标题 -->
            <h3>博客简介</h3>
            <!-- 博客的时间 -->
            <div class="date">2022-05-22 19:00:00</div>
            <!-- 正文 -->
            <!--<embed src="pdf/docs.pdf" type="application/pdf" width="100%" height="100%">-->
            <!--<iframe src="docs.pdf" width="800" height="600"></iframe>-->
            <p>
                1.使用规则
1.1 用户在使用ustcflask服务的过程中，应遵守以下法律法规：
1.1.1 《中华人民共和国保守国家秘密法》
1.1.2  《中华人民共和国著作权法》
1.1.3  《中华人民共和国计算机信息系统安全保护条例》
1.1.4  《计算机软件保护条例》
1.1.5  《互联网电子公告服务管理规定》
1.1.6 《信息网络传播权保护条例》
1.1.7 《中华人民共和国网络安全法》
1.1.8 其他有关计算机及互联网规定的法律、法规。
1.2 在任何情况下，ustcflask一旦合理地认为用户的行为可能违反上述法律、法规，可以在任何时候，不经事先通知终止向该用户提供服务。
1.3 禁止用户从事以下行为：
1.3.1制作、上传、复制、传送、传播包含任何反对宪法所确定
的基本原则、危害国家安全、泄露国家秘密、颠覆国家政权、
破坏国家统一、破坏民族团结、损害国家荣誉和利益、煽动民
族仇恨、民族歧视、破坏民族团结、破坏国家宗教政策、宣扬
邪教和封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖或者
教唆犯罪、侮辱或者诽谤他人，侵害他人合法权益的等法律、
行政法规禁止的内容或其他令人反感的包括但不限于资讯、资料、文字、软件、音乐、照片、图形、信息或其他资料;
1.3.2 以任何方式危害未成年人；
1.3.3 冒充任何人或机构，或以虚伪不实的方式谎称或使人误认为与任何人或任何机构有关；
1.3.4 伪造标题或以其他方式操控识别资料，使人误认为该内容为ustcflask所传送；
1.3.5 将无权传送的内容（例如内部资料、机密资料）进行上载、张贴、发送电子邮件或以其他方式传送；
1.3.6 将侵犯任何人的专利、商标、著作权、商业秘密等知识产权的内容加以上载、张贴、发送电子邮件或以其他方式传送；
1.3.7 将广告函件、促销资料、"垃圾邮件"等，加以上载、张贴、发送电子邮件或以其他方式传送;
1.3.8 跟踪或以其他方式骚扰他人;
1.3.9 将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、张贴、发送电子邮件或以其他方式传送；;
1.3.10 干扰或破坏ustcflask服务或与ustcflask服务相连的服务器和网络，或不遵守本协议之规定；
1.3.11 故意或非故意违反任何相关的中国法律、法规、规章、条例等其他具有法律效力的规范；
1.3.12 未经ustcflask事先明确书面许可，以任何方式（包括但不限于机器人软件、蜘蛛软件、爬虫软件等任何自动程序、脚本、软件）和任何理由自行或委托他人、协助他人获取平台的服务、内容、数据；
1.3.13 用户需保证其上传内容不得违反广电总局的相关规定,包括但不限于《互联网视听节目服务管理规定》(广电总局56号令）等，其上传节目应当符合法律、行政法规、部门规章的规
定，上传内容不得含有以下内容：
(1）反对宪法确定的基本原则的；
(2）危害国家统一、主权和领土完整的;
(3)泄露国家秘密、危害国家安全或者损害国家荣誉和利益的；
(4)煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；
(5)扰乱社会秩序,破坏社会稳定的;
(6)诱导未成年人违法犯罪和渲染暴力、色情、赌博、恐怖活动的；
(7)侮辱或者诽谤他人，侵害公民个人隐私等他人合法权益的；
(8)危害社会公德，损害民族优秀文化传统的；
(9)有关法律、行政法规和国家规定禁止的其他内容。
1.3.14 您制作、发布、传播的内容需遵守《网络音视频信息服务管理规定》及相关法律法规规定，不得利用基于深度学习、虚拟现实等的新技术新应用制作、发布、传播虚假新闻信息等法律法规禁止的信息内容。您在发布或传播利用基于深度学习、虚拟现实等的新技术新应用制作的非真实音视频信息时,应当以显著方式予以标识，否则ustcflask有权对相关内容和账户采取包括但不限于增加标识、限制、封禁等措施。
1.3.15 如用户提供的上传内容含有以上违反政策法律法规的信息或者内容的，由用户直接承担以上导致的一切不利后果，如因此给ustcflask造成不利后果的，用户应负责消除影响，并且赔
偿因此导致的一切损失。
            </p>
        </div>
        </div>
    </div>
</body>
</html>
