{% extends 'blogbase.html' %}

{% block title %}
    写博客
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/editor/css/editormd.css"/>
    <script src="../static/editor/editormd.js" type="text/javascript"></script>
    <!-- editormd CSS文件 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='editor/css/editormd.css') }}"/>
    <!-- editormd JS相关文件 -->
    <script src="{{ url_for('static',filename='jquery/jquery.3.6.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editor/editormd.js') }}"></script>
{% endblock %}

{% block content %}

        <form action="/user/writeBlog" class="layui-form" method="post">
            <div class="form-group">
                <div class="container" style="margin-top: 20px;margin-bottom: 20px">
                    <input type="text" name="title" class="form-control" placeholder="请输入标题">
                </div>
            </div>
            <div id="editormd">
                <textarea name="text" lay-verify="required" style="display:none;"></textarea>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    {#                    <button class="layui-btn" style="width: 150px" lay-submit lay-filter="formDemo">保存</button>#}
                    <button class="btn btn-primary btn-animated btn-animated-x" lay-submit lay-filter="formDemo" >
                        <span class="btn-inner--visible">上传博客</span>
                        <span class="btn-inner--hidden"><i class="fas fa-arrow-right"></i></span>
                    </button>
                </div>
            </div>
        </form>

    <script type="text/javascript">
        layui.use('form', function () {
            var form = layui.form;
            form.on('submit(formDemo)', function (data) {
            });
        });

        $(function () {
            editormd("editormd", {
                width: "100%",
                height: 600,
                syncScrolling: "single",
                path: "/static/editor/lib/", //依赖lib文件夹路径
                emoji: true,
                taskList: true,
                tocm: true,
                imageUpload: true,	//开启本地图片上传
                imageFormats: ["jpg", "jpeg", "gif", "png"],	//设置上传图片的格式
                imageUploadURL: "/blog/imgUpload"		//上传图片请求路径
            });
        });
    </script>
{% endblock %}

{% block write_class %}
    layui-this
{% endblock %}
